body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(191, 248, 248);
}
header{
    background-color: rgb(10, 232, 240);
    height: 65px;
}
footer{
    background-color: rgb(50, 51, 51);
    height: 65px;
}
nav ul, footer ul{
    font-size: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
    margin: 0px;
}
li a{
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    color: aliceblue;
}
main{
    padding: 325px;
    text-align: center;
}
h1{
    font-size: 50px;
}
.fa {
    padding: 0px 12px 0px 12px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}